* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* outline: 1px solid red; */
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/*gloabal rules start*/
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}
body {
  font-family: "Cairo", sans-serif;
}

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*gloabal rules end*/
.section-padding {
  padding-block: var(--main-padding-bottom);
}

.special-heading {
  border: solid 3px black;
  width: fit-content;
  margin: auto;
  position: relative;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: 80px;
  z-index: 2323;
}
.special-heading::after,
.special-heading::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--main-color-alt);
  position: absolute;
  border-radius: 100%;
  transform: translateY(-50%);
  top: 50%;
  transition: 0.7s;
  letter-spacing: 6px;
  z-index: -11;
}
@media (max-width: 500px) {
  .special-heading {
    font-size: 25px;
    transition: 0.3s;
  }
  .special-heading:hover {
    background-color: #1787e0;
  }
  .special-heading::after,
  .special-heading::before {
    display: none;
  }
}
.special-heading::after {
  left: -40px;
}

.special-heading:hover::after {
  left: 0;
  border-radius: 0;
  width: 60%;
  height: 100%;
}

.special-heading::before {
  right: -40px;
}
.special-heading:hover::before {
  right: 0;
  border-radius: 0;
  width: 50%;
  height: 100%;
}
.special-heading:hover {
  border: solid 3px white;
  box-shadow: 0 0 2px #777;
  color: white;
}
header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  box-shadow: 0 0 5px #777;
}
header .logo a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
}
header .links {
  display: flex;
}

header .links > li > a {
  color: #000;
  font-weight: 500;
  display: flex;
  transition: 0.3s;
  position: relative;
  padding: 0 20px;
  height: 60px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .links > li > a::before {
  content: "";
  background-color: var(--main-color-alt);
  height: 3px;
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  width: 100%;
}

header .links > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color-alt);
}
header .links > li > a:hover::before {
  left: 0;
}
@media (max-width: 767px) {
  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  header .logo {
    height: 40;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo a {
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
  }
  header .links > li > a {
    font-size: 0.8em;
    height: 40;
    padding: 15px;
  }
}
/* start landing  */

.landing {
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: "";
  background-color: #eee;
  position: absolute;
  width: 550%;
  z-index: -1;
  height: 100%;
  transform-origin: center;
  transform: skewY(3deg);
}
.landing i {
  position: absolute;
  font-size: 30px;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: alternate linear jiggle 2s infinite;
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);
  justify-content: space-around;
}

.landing .text {
  max-width: 400px;
}
.landing .animation {
  width: 600px;
  animation: up-down linear infinite 3s alternate;
}

@keyframes up-down {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes jiggle {
  10%,
  20%,
  20%,
  50%,
  70%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40%,
  60% {
    transform: translateX(-50%) translateY(-30px);
  }
}
.landing .animation img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .landing .animation {
    display: none;
  }
  .landing .container {
    justify-content: center;
  }
  .landing p {
    color: #444;
  }
}

/*start mega menu*/

.mega-menu {
  width: 100%;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: white;
  color: var(--main-color);
  transition: 0.3s;
  display: flex;
  z-index: -1;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 5px solid var(--main-color);
  box-shadow: 0 0 5px 1px inset #eee;
  overflow: hidden;
  opacity: 0;
}
.mega-menu .image {
  width: 400px;
}
.mega-menu .image img {
  max-width: 100%;
}

.mega-menu .links-mega > li > a {
  color: var(--main-color);
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  align-items: center;
  width: 90%;
}

.mega-menu .links-mega > li > a::before {
  position: absolute;
  content: "";
  background-color: #eee;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  left: -100%;
  transition: 0.5s;
}
.mega-menu .links-mega > li > a:hover::before {
  left: -0%;
}
.mega-menu .links-mega > li > a:not(:nth-child(3)) {
  border-bottom: #ccc 1px solid;
}
.mega-menu .links-mega > li > a i {
  display: inline-block;
  margin-right: 5px;
}
.active-menu {
  z-index: 10000;
  opacity: 1;
  top: 100%;
}
@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}

.mega-menu .links-mega {
  flex: 1;
  gap: 10px;
}

@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
  }
}
/* start Articles  */
.articles {
  position: relative;
  /* z-index: -1; */
  background-color: #fff;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 15px;
}

.articles .container .box {
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #eee;
}
.articles .container .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 4px 2px #ddd;
}
.articles .container .box .text {
  padding: 10px 20px;
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .more {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  padding-inline: 20px;
  padding-block: 5px;
  width: 100%;
  color: var(--main-color);
  border-top: var(--main-color) 3px solid;
}
.articles .container h4 {
  font-size: 22px;
  margin-block: 10px;
}
.articles .container .text p {
  color: #777;
  line-height: 1.7;
  font-weight: 500;
}

.articles .container .box:hover .more i {
  animation: alternate linear 0.6s arrow infinite;
}
@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
/* end articles  */
.gallery {
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .gallery .container {
    gap: 20px 0;
  }
}

.gallery .container .box {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 2px 2px #ccc;
  overflow: hidden;
}
.gallery .container .box:hover {
  transform: translateY(-5px);
}
.gallery .container .box .image {
  width: 100%;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  background-color: #ffffff33;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 213132;
}
.gallery .container .box:hover .image::before {
  animation: 0.7s falshing linear;
}
.gallery .container .box .image img {
  transition: 0.7s;
}
.gallery .container .box:hover .image img {
  transform: rotate(5deg) scale(1.1);
}
@keyframes falshing {
  0%,
  10% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .container .box .image img {
  max-width: 100%;
}
/* gallery End  */
/* features start  */

.features .container {
  display: grid;
  background-color: white;
  gap: 20px;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .features .container {
    gap: 20px 0;
  }
}

.features .container .box {
  border: 1px solid #aaa;
}
.features .container .box .image {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.features .container .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  top: 0;
  z-index: 6489645561;
  left: 0;
}

.features .container .box .image::after {
  content: "";
  border: solid white;
  border-color: transparent transparent white transparent;
  border-width: 0 0 100px 380px;
  width: 0%;
  position: absolute;
  z-index: 648964355613;
  right: 0;
  transition: 0.7s;
  bottom: 0;
  height: 0%;
  transform: skewX(0deg);
}
.features .container .box:hover .image::after {
  border-width: 100px 370px 100px 0px;
}
.features .container .box .image img {
  max-width: 100%;
  z-index: -1;
}
.features .container .box .image#boxOne::before {
  background-color: rgba(0, 128, 0, 0.264);
}
.features .container .box .image#boxTwo::before {
  background-color: rgba(255, 0, 0, 0.26);
}

.features .container .box .image#boxThree::before {
  background-color: rgba(0, 85, 255, 0.249);
}

.features .container .box .text-area {
  padding: 15px;
}

.features .container .box .text-area .title {
  text-align: center;
  position: relative;
  margin: 0 auto 40px;
  font-size: 35px;
  width: fit-content;
}
.features .container .box .text-area .title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 80%;
  top: 100%;
  z-index: 5665;
  left: 50%;
  transform: translateX(-50%);
}
.features .container .box .image#boxOne + .text-area .title::before {
  background-color: #009688;
}
.features .container .box .image#boxTwo + .text-area .title::before {
  background-color: rgb(229, 40, 40);
}
.features .container .box .image#boxThree + .text-area .title::before {
  background-color: rgb(22, 91, 170);
}

.features .container .box .text-area p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #888;
  word-spacing: 6px;
}

.features .container .box button {
  margin: auto;
  font-size: 20px;
  position: relative;
  font-weight: bold;
  outline: none;
  background-color: white;
  display: block;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 30px;
  overflow: hidden;
  transition: 0.3s;
  z-index: 6565465567575765454;
}

.box .text-area button:hover {
  color: #fff !important;
}
.box .text-area button:hover::before {
  left: 0 !important;
}
.features .container .box .image#boxThree + .text-area button::before {
  background-color: rgb(20, 129, 254);
}

.features .container .box .image#boxTwo + .text-area button::before {
  background-color: rgb(245, 73, 73);
}

.features .container .box .image#boxOne + .text-area button::before {
  background-color: #009688;
}

.features .container .box .image#boxOne + .text-area button {
  color: #009688;
  border-color: #009688;
}

.features .container .box .image#boxTwo + .text-area button {
  color: rgb(245, 73, 73);
  border-color: rgb(245, 73, 73);
}

.features .container .box .image#boxThree + .text-area button {
  color: rgb(20, 129, 254);
  border-color: rgb(20, 129, 254);
}
.features .container .box .text-area button::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -120%;
  z-index: -1;
  transition: 0.3s;
  position: absolute;
}
/* end features  */

.testimonials {
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 767px) {
  .testimonials .container {
    grid-template-columns: 90%;
  }

  .testimonials .container .box {
    margin-inline: auto;
  }
}
.testimonials .container .box {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.testimonials .container .box .avatar {
  position: absolute;
  top: -0%;
  right: -0%;
  transform: translate(30%, -50%);
  border-radius: 100%;
  width: 100px;
  z-index: 222;
  box-shadow: 0 0 0 10px var(--section-background);
}
.testimonials .container .box .avatar img {
  border-radius: 100%;
  max-width: 100%;
}

.testimonials .container .box .name {
  font-size: 22px;
  margin-bottom: 20px;
}
.testimonials .container .box .job {
  color: #777;
}
.testimonials .container .box .description {
  color: #777;
  line-height: 1.7;
}
.testimonials .container .box .starrating {
  margin-block: 10px;
}
.testimonials .fa-solid {
  color: #ffc107;
}
/* end testimonials  */
/* start team  */

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 200px 40px;
}
.team .container .box {
  display: flex;
  gap: 20px;
  position: relative;
  transition: 0.3s;
  align-items: center;
}
.team .container .box::after,
.team .container .box::before {
  content: "";
  width: 90%;
  height: 130%;
  position: absolute;
  transition: 0.3s;
  top: 0;
  right: 0;
  transform: translate(10%, -10%);
  background-color: #eee;
  z-index: -1;
  border-radius: 10px;
}
.team .container .box::after {
  width: 0%;
}
.team .container .box:hover::after {
  width: 90%;
  background-color: #ccc;
}

.team .container .box .image img {
  max-width: 100%;
  transition: 0.3s;
  border-radius: 10px;
}
.team .container .box:hover .image img {
  filter: grayscale(1);
}
.team .container .box .links i {
  color: gray;
  font-size: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  display: block;
}
.team .container .box h3,
.team .container .box p {
  text-align: right;
}
.team .container .box h3 {
  color: rgb(53, 164, 255);
  font-size: 2em;
  margin-bottom: 10px;
}
.team .container .box .links .fa-facebook-f:hover {
  color: rgb(41, 62, 184);
}

.team .container .box .links .fa-twitter:hover {
  color: rgb(53, 164, 255);
}

.team .container .box .links .fa-linkedin-in:hover {
  color: rgb(41, 62, 184);
}

.team .container .box .links a .fa-youtube:hover {
  color: red;
}
@media (max-width: 767px) {
  .team .container {
    grid-template-columns: 90%;
  }

  .team .container .box {
    margin-inline: auto;
  }
}
/*********************/
/* start services */

.services {
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  position: relative;
  transition: 0.4s;
  box-shadow: 0 0 5px 2px #aaa;
}

.services .container .box::before {
  content: "";
  background-color: var(--main-color-alt);
  height: 3px;
  width: 0%;
  transition: 0.7s;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box:hover {
  transform: translateY(-5px);
}
.services .container .box .content {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  text-align: center;
}
.services .container .box .content i {
  color: gray;
  font-size: 50px;
}
.services .container .box .content p {
  font-size: 1.5em;
  color: var(--main-color);
  font-weight: 600;
}
.services .container .box .labeling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #fafafa;
}
.services .container .box .labeling a {
  color: var(--main-color);
  font-weight: 600;
  text-transform: capitalize;
  padding-right: 20px;
}
.services .container .box .labeling span {
  color: white;
  background-color: var(--main-color);
  font-size: 28px;
  display: block;
  height: 100%;
  line-height: 40px;
  padding-inline: 10px;
  position: relative;
  font-weight: bold;
  z-index: 1;
}

.services .container .box .labeling span::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: inherit;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  box-shadow: 20px 0 0 0 gray;
  transform: translateX(50%) skewX(-30deg);
}
.skills .container {
  display: flex;
  flex-wrap: wrap;
}
.skills .image {
  max-width: 90%;
  margin: auto;
}
.skills .image img {
  max-width: 100%;
}
.skills .container .progress {
  padding: 10px;
  flex-grow: 1;
}
.skills .container .progress p {
  font-weight: 700;
  font-size: 1.4em;
}
.skills .container .progress .bar {
  height: 30px;
  position: relative;
  max-width: 100%;
  background-color: #eee;
}
.skills .container .progress .bar .span {
  content: "";
  width: 70%;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: 0.7s;
  position: absolute;
}
.skills .container .progress .bar::after {
  content: attr(data-width);
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  color: var(--main-color);
  background-color: #fefefe;
  border: var(--main-color) 2px solid;
  top: -50px;
  right: 0;
  position: absolute;
}
/* end skills  */

.method {
  background-color: var(--section-background);
}

.method .container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.method .container > .image {
  flex-basis: 400px;
  margin: auto;
}
.method .container > .image img {
  max-width: 100%;
}

.method .container .content {
  /* flex-grow: 1; */
  flex-basis: 500px;
  max-width: 90%;
  margin: auto;
}

.method .container .content .card {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
  border: white 2px solid;
  overflow: hidden;
  z-index: 10;
}
.method .container .content .card::before {
  content: "";
  background-color: #ddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  transition: 0.7s;
  position: absolute;
  z-index: 1;
}
.method .container .content .card:hover::before {
  width: 200%;
  height: 200%;
}

.method .container .content .card .text {
  z-index: 10;
  flex-grow: 1;
}
.method .container .content .card .text p {
  color: #777;
  font-weight: 600;
}

.method .container .content .card .image {
  z-index: 10;
  width: 100px;
  margin-right: 20px;
}

.method .container .content .card .image img {
  max-width: 100%;
}
section.events .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 10px;
  justify-content: space-between;
}
section.events .container .count-down {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  section.events .container .count-down {
    flex-wrap: wrap;
  }
}

section.events .container .count-down div {
  padding: 15px;
  width: 100px;
  border-radius: 10px;
  padding-inline: 0;
  border: var(--main-color) 1px solid;
}
section.events .container .count-down div span {
  border-top: #1787e0 1px solid;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}
section.events .container .count-down p {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
}
section.events .container p {
  text-align: justify;
}
@media (max-width: 767px) {
  section.events .container p {
    font-size: 16px !important;
    text-align: left;
  }
}
section.events .container .content {
  flex-grow: 1;
  width: 400px;
}

section.events .container .image {
  max-width: 400px;
}

section.events .container .image img {
  width: 100%;
}

section.events .container h3 {
  font-size: 30px;
  text-align: center;
}

section.events .container p {
  text-align: justify;
  font-size: 1.5em;
}

section.events .container .form {
  display: flex;
  justify-content: center;
  width: 100%;
}

section.events .container form {
  width: fit-content;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
}
@media (max-width: 767px) {
  section.events .container form {
    display: flex;
    flex-wrap: wrap;
  }
  section.events .container input {
    width: 100%;
    margin-bottom: 40px;
  }
}

section.events .container form input[type="text"] {
  display: inline-block;
  min-width: 200px;
  padding-inline: 10px;
  max-width: 300px;
  border: none;
  outline: none;
  height: 100%;
  border-radius: 10px;
  margin-right: 20px;
}

section.events .container form input[type="submit"] {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #1787e0;
  cursor: pointer;
}

@media (max-width: 767px) {
  section.events .container {
    justify-content: center;
    align-items: center;
  }
  section.events .container > * {
    margin-bottom: 50px;
  }
}
/*************************/
/* start plans  */

.plans {
  background-color: var(--section-background);
}

.plans .container {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.plans .container .plan {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px 2px #ccc;
  max-width: 100%;
}

.plans .container .plan h4 {
  margin: 30px auto;
  width: fit-content;
  text-transform: capitalize;
  font-size: 2em;
  position: relative;
  z-index: 10;
}
.plans .container .plan .image {
  width: 100px;
  z-index: 10;
  margin: 50px auto;
  position: relative;
}
.plans .container .plan .image img {
  max-width: 100%;
}

.plans .container .plan ul li {
  z-index: 10;
  padding: 20px 30px;
  position: relative;
}
.plans .container .plan .price {
  color: var(--main-color);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.plans .container .plan .price::after {
  content: "Per Month";
  color: #777;
  position: absolute;
  width: fit-content;
  font-size: 12px;
  top: 110%;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
}
.plans .container .plan ul li::before {
  content: "\f00c";
  font-weight: 900;
  top: 50%;
  left: 10px;
  font-family: "Font Awesome 6 Free";
  transform: translateY(-50%);
  color: var(--main-color);
  position: absolute;
}
.plans .container .plan ul li {
  border-top: 1px solid #ddd;
}
.plans .container .plan .btn {
  padding: 20px;
  border: 3px var(--main-color) solid;
  width: fit-content;
  border-radius: 10px;
  margin: 30px auto;
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
  z-index: 10;
  position: relative;
  transition: 0.5s;
}
.plans .container .plan .btn:hover {
  background-color: var(--main-color-alt);
  color: white;
}

.plans .container .plan::before {
  content: "";
  position: absolute;
  top: 0;
  transition: 0.3s;
  right: -100%;
  background-color: #efefef;
  width: 100%;
  height: 100%;
}

.plans .container .plan:hover::before {
  right: 0%;
}

#pro {
  transform: translateY(-30px);
}

#pro::after {
  content: "Best Offer";
  padding: 5px;
  color: white;
  background-color: var(--main-color);
  position: absolute;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  top: 0;
  right: -150px;
  border-right: #fff 5px solid;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 150px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #pro {
    transform: translateY(0);
  }

  #pro::after {
    display: none;
  }

  .plans .container {
    display: block;
    gap: 0 0;
  }
  .plans .container .plan {
    margin: 20px auto;
    max-width: 300px;
  }
  .plans .container .plan h4 {
    font-size: 1.4em;
  }
  .plans .container .plan::before {
    display: none;
  }
}
/**************************end plans************/

/* start Our Awesome Stats */

.stats {
  background-image: url("../images/stats.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
}

.stats::before {
  content: "";
  background-color: #ffffffdf;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.stats .container {
  position: relative;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
}

.stats .container .box {
  background-color: #fff;
  position: relative;
  padding: 20px;
}

.stats .container .box i {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.stats .container .box span {
  font-weight: bold;
  color: #111;
  font-size: 40px;
  display: block;
  margin-inline: auto;
  width: fit-content;
  text-align: center;
}
.stats .container .box p {
  color: #1787e0;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
}

.stats .container .box::before,
.stats .container .box::after {
  content: "";
  width: 3px;
  background-color: var(--main-color-alt);
  position: absolute;
  height: 0%;
  transition: 0.5s ease-out;
}
.stats .container .box::before {
  top: 0;
  right: 0;
}
.stats .container .box::after {
  bottom: 0;
  left: 0;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}
/*******************************/
/* start discount     */

.discount {
  display: flex;
}
.discount > div {
  flex-basis: 50%;
}
.discount > div h3 {
  font-size: 30px;
  text-align: center;
  margin-block: 50px;
}
.discount .form form {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  align-items: center;
}
.discount .form form textarea,
.discount .form form input.input {
  border: none;
  outline: none;
  background-color: var(--section-background);
  width: 350px;
  max-width: 90%;
  padding: 10px;
  display: block;
  height: 40px;
}
.discount .form form textarea {
  height: 200px;
  width: 300px;
  display: block;
  max-width: 100%;
}

@media (max-width: 767px) {
  .discount .form form textarea {
    resize: initial;
    width: 280 !important;
    display: block !important;
    margin: auto;
    box-sizing: border-box !important;
  }
}
.discount .form form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  padding: 20px;
  box-shadow: 1px 1px 5px 2px #ccc;
  border: none;
  outline: none;
  width: 350px;
  transition: 0.3s;
  max-width: 100%;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 1px;
}
.discount .form form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .form form input:not(input[type="submit"]) {
  border-bottom: 2px solid black !important;
}
.discount > .image {
  background-image: url("../images/discount-background2.jpg");
  position: relative;
}
.discount > .image::before {
  content: "";
  background-color: #2195f3ee;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.discount > .image p,
.discount > .image .pic {
  max-width: 90%;
  margin: auto;
  width: 500px;
  text-align: justify;
}
.discount > .image .pic {
  width: 300px !important;
  margin-top: 80px;
}
.discount > .image .pic img {
  max-width: 100%;
}
.discount > .image p,
.discount > .image h3,
.discount > .image .pic {
  color: white;
  position: relative;
  z-index: 55;
}
.discount > .image p {
  font-size: 20px;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}
.footer {
  background-color: #202020;
  color: white;
  padding-top: 30px;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .container h3 {
  font-size: 50px;
  margin-block: 20px;
}
.footer .container .social {
  display: flex;
  gap: 10px;
}
.footer .container .social a {
  color: white;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #555;
}
.footer .container p {
  line-height: 1.8;
  color: #ccc;
}

.footer-gallery {
  display: grid;
  margin-block: 20px;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 70px);
}
.footer-gallery img {
  width: 100%;
}

.footer .links li:not(:last-child) {
  border-bottom: #777 1px solid;
}
.footer .links li {
  position: relative;
  transition: 0.3s;
}
.footer .links li:hover {
  padding-left: 10px;
}
.footer .links li:hover a {
  color: white;
}

.footer .links li a::before {
  content: "\F101";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 0;
  color: var(--main-color);
  transform: translateY(-50%);
  font-weight: 900;
}
.footer .links li a {
  color: #999;
  padding: 20px 30px;
  position: relative;
  display: block;
  transition: 0.3s;
}

.footer .line {
  display: flex;
  gap: 10px;
  margin-block: 20px;
}
.footer .line i {
  color: var(--main-color);
}
.copyright {
  margin: 50px auto 0px;
  border-top: 1px solid #999;
  padding-block: 20px;
  text-align: center;
}
/* end footer  */

.totop {
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 556656565;
  bottom: 40px;
  right: 30px;
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.fade {
  opacity: 0;
  z-index: -1;
}
